/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

@import "/src/global-styles/styles/root.scss";

#home-page {
   min-height: 100vh;
   display: grid;
   place-items: center;
}

.c-pricing {
   max-width: 1052px;
   padding: 24px;
   display: grid;
   justify-items: center;
   gap: 48px;
   
   & &__header {
      max-width: 244px;
      text-align: center;

      & h1 {
         margin-bottom: 16px;
      }
   }

   & &__plans {
      display: grid;
      gap: 16px;
   }

   & &__plan {
      // local colors variables
      --background: var(--color-dominant-light);
      --button-static: var(--color-btn1-static);
      --button-hover: var(--color-btn1-hover);
      --button-active: var(--color-btn1-active);
      --font-color: var(--color-dominant-dark);
      --marker-url: url("/public/images/v-light.svg");

      &:nth-child(2) {
         --background: var(--color-dominant-dark);
         --button-static: var(--color-btn2-static);
         --button-hover: var(--color-btn2-hover);
         --button-active: var(--color-btn2-active);
         --font-color: var(--color-dominant-light);
         --marker-url: url("/public/images/v-dark.svg");
         border: none;
         padding: 32px;
      }
      // ***

      min-height: 414px;
      max-width: 414px;
      padding: 31px;
      border: var(--stroke) solid var(--color-border);
      border-radius: var(--border-radius-mid);
      background-color: var(--background);
      display: grid;
      grid-template-rows: repeat(4, auto) 1fr;
      gap: 16px;
      transition: .25s;
   }

   & &__plan-header,
   & &__price,
   & &__feature {
      color: var(--font-color);
   }

   & &__price {
      height: 42px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;

      &-currency {
         align-self: flex-start;
         @include font-16-semibold();
      }

      &-value {
         @include font-header-1();
      }

      &-period {
         align-self: flex-end;
         margin-left: 2px;
         color: var(--color-complementary);
         line-height: 1;
      }
   }

   & &__description {
      margin-right: 1px;
   }

   & &__features {
      list-style: none;
   }

   & &__feature {
      margin-bottom: 8px;
      
      &::before {
         content: var(--marker-url);
         width: 16px;
         height: 16px;
         margin-right: 12px;
         line-height: 1;
         vertical-align: middle;
      }
   }

   & &__submit {
      margin-top: auto;
      padding: 17px 32px;
      background-color: var(--button-static);
      border-radius: var(--border-radius-small);
      @include font-14-semibold();
      color: var(--color-dominant-light);
      text-decoration: none;
      text-align: center;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      transition: background-color .25s ease-in-out;

      &:hover {
         background-color: var(--button-hover);
      }

      &:active {
         background-color: var(--button-active);
      }
   }

   @media only screen and (min-width: $tablet) and (max-width: ($desktop - 1px)){
      & &__plan {
         min-height: 278px;
         width: clamp(578px, 90vw, 674px);
         max-width: 674px;
         grid-template-columns: 244px 1fr;
         grid-template-rows: auto auto 1fr;
         gap: 0 10px;
      }

      & &__description {
         margin-block: 10px 16px;
      }

      & &__price {
         grid-column: 2 / 3;
         grid-row: 1 / 3;
         justify-self: end;
      }

      & &__feature {
         margin-block: 8px 0;
      }

      & &__submit {
         width: 260px;
         justify-self: end;
      }
   }

   @media screen and (min-width: $desktop) {
      & &__plans {
         grid-auto-flow: column;
         grid-template-columns: repeat(3, 1fr);
      }
   }
}
